.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container div:first-child {
    border-right: 1px solid #eee;
}

.container div:nth-child(2) {
    border-right: 1px solid #eee;
}

.container div {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
